@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://webfontworld.github.io/HSYuJi/HSYuJi.css");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  margin: 0 auto;
  background-color: #333;
  color: #fff;
}

a {
  display: block;
  text-decoration: none;
  color: #fbeeea;
}

ul li, ol li {
  list-style: none;
}

img {
  display: block;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
}

p {
  font-size: 0.9em;
}

span {
  display: block;
  font-size: 1em;
}

header,
nav,
main,
section,
aside,
article,
footer {
  display: block;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #333;
}

@media screen and (min-width: 768px) {
  header {
    height: 90px;
  }
}

header div.h-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 4%;
}

header div.h-wrap h1 a:first-child {
  display: none;
}

@media screen and (min-width: 1024px) {
  header div.h-wrap h1 a:first-child {
    display: block;
  }
}

header div.h-wrap h1 a:first-child img {
  width: 350px;
}

@media screen and (min-width: 1024px) {
  header div.h-wrap h1 a:last-child {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  header div.h-wrap ul.gnb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 500px;
    font-family: "HSYuJi";
  }
}

@media screen and (min-width: 1024px) {
  header div.h-wrap ul.gnb {
    width: 550px;
  }
}

header div.h-wrap ul.gnb li {
  display: none;
}

header div.h-wrap ul.gnb li:first-child {
  display: block;
}

@media screen and (min-width: 768px) {
  header div.h-wrap ul.gnb li:first-child {
    display: none;
  }
}

header div.h-wrap ul.gnb li .burger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 31px;
}

header div.h-wrap ul.gnb li .burger span {
  display: inline-block;
  width: 35px;
  height: 5px;
  border-radius: 10px;
  background-color: #fbeeea;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header div.h-wrap ul.gnb li .burger .toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 10px);
          transform: rotate(-45deg) translate(-8px, 10px);
}

header div.h-wrap ul.gnb li .burger .toggle .line2 {
  opacity: 0;
}

header div.h-wrap ul.gnb li .burger .toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-8px, -10px);
          transform: rotate(45deg) translate(-8px, -10px);
}

@media screen and (min-width: 768px) {
  header div.h-wrap ul.gnb li {
    display: block;
  }
}

header div.h-wrap ul.gnb li a {
  font-size: 20px;
}

header div.h-wrap ul.gnb li a:hover {
  color: #e28f83;
}

@media screen and (min-width: 1024px) {
  header div.h-wrap ul.gnb li a {
    font-size: 22px;
  }
}

main {
  width: 100%;
}

main section.main-section {
  position: relative;
  width: 100%;
  height: 100vh;
}

main section.main-section div.main-txt {
  position: absolute;
  top: 25%;
  margin-left: 8%;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  main section.main-section div.main-txt {
    margin-left: 10%;
    top: 20%;
  }
}

@media screen and (min-width: 1024px) {
  main section.main-section div.main-txt {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 700px;
  }
}

main section.main-section div.main-txt .wel {
  font-weight: 600;
  font-size: 6.25vw;
  color: #777;
}

@media screen and (min-width: 425px) {
  main section.main-section div.main-txt .wel {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 768px) {
  main section.main-section div.main-txt .wel {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  main section.main-section div.main-txt .wel {
    font-size: 2.8rem;
  }
}

main section.main-section div.main-txt h2 {
  font-weight: 600;
  font-size: 11.875vw;
  margin: 3% 0;
}

@media screen and (min-width: 425px) {
  main section.main-section div.main-txt h2 {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 768px) {
  main section.main-section div.main-txt h2 {
    font-size: 5.2rem;
  }
}

@media screen and (min-width: 1024px) {
  main section.main-section div.main-txt h2 {
    font-size: 6.2rem;
  }
}

main section.main-section div.main-txt .front {
  font-weight: 500;
  font-size: 5.625vw;
  color: #e28f83;
}

@media screen and (min-width: 425px) {
  main section.main-section div.main-txt .front {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  main section.main-section div.main-txt .front {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1024px) {
  main section.main-section div.main-txt .front {
    font-size: 2.5rem;
  }
}

main section.main-section div.main-img {
  background-color: aqua;
}

@media screen and (min-width: 768px) {
  main section.main-section div.main-img .main-img-m {
    display: none;
  }
}

main section.main-section div.main-img .main-img-m div {
  position: absolute;
}

main section.main-section div.main-img .main-img-m div:nth-child(1), main section.main-section div.main-img .main-img-m div:nth-child(2), main section.main-section div.main-img .main-img-m div:nth-child(3), main section.main-section div.main-img .main-img-m div:nth-child(4) {
  display: block;
}

main section.main-section div.main-img .main-img-m div:nth-child(1) {
  bottom: 13%;
  left: 30%;
}

main section.main-section div.main-img .main-img-m div:nth-child(2) {
  bottom: 5%;
  left: 57%;
}

main section.main-section div.main-img .main-img-m div:nth-child(3) {
  bottom: 8%;
  right: 4%;
}

main section.main-section div.main-img .main-img-m div:nth-child(4) {
  left: 4%;
  bottom: 7%;
}

main section.main-section div.main-img .main-img-t {
  display: none;
}

@media screen and (min-width: 768px) {
  main section.main-section div.main-img .main-img-t {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  main section.main-section div.main-img .main-img-t {
    display: none;
  }
}

main section.main-section div.main-img .main-img-t div {
  position: absolute;
}

main section.main-section div.main-img .main-img-t div:nth-child(1) {
  bottom: 8%;
  left: 4%;
}

main section.main-section div.main-img .main-img-t div:nth-child(2) {
  bottom: 4%;
  left: 22%;
}

main section.main-section div.main-img .main-img-t div:nth-child(3) {
  bottom: 8%;
  left: 38%;
}

main section.main-section div.main-img .main-img-t div:nth-child(4) {
  bottom: 6%;
  left: 58%;
}

main section.main-section div.main-img .main-img-t div:nth-child(5) {
  bottom: 8%;
  left: 75%;
}

main section.main-section div.main-img .main-img-t div:nth-child(6) {
  bottom: 7%;
  right: 4%;
}

main section.main-section div.main-img .main-img-p {
  display: none;
  opacity: 0.7;
}

@media screen and (min-width: 1024px) {
  main section.main-section div.main-img .main-img-p {
    display: block;
  }
}

main section.main-section div.main-img .main-img-p div {
  position: absolute;
}

main section.main-section div.main-img .main-img-p div:nth-child(1) {
  bottom: 8%;
  left: 4%;
}

main section.main-section div.main-img .main-img-p div:nth-child(2) {
  bottom: 4%;
  left: 15%;
}

main section.main-section div.main-img .main-img-p div:nth-child(3) {
  bottom: 8%;
  left: 25%;
}

main section.main-section div.main-img .main-img-p div:nth-child(4) {
  bottom: 6%;
  left: 39%;
}

main section.main-section div.main-img .main-img-p div:nth-child(5) {
  bottom: 8%;
  left: 52%;
}

main section.main-section div.main-img .main-img-p div:nth-child(6) {
  bottom: 6%;
  left: 66%;
}

main section.main-section div.main-img .main-img-p div:nth-child(7) {
  bottom: 9%;
  left: 78%;
}

main section.main-section div.main-img .main-img-p div:nth-child(8) {
  bottom: 6%;
  right: 4%;
}

main section.about {
  position: relative;
  margin-top: 30%;
  padding: 0 4%;
}

@media screen and (min-width: 1024px) {
  main section.about {
    width: 100%;
    max-width: 1720px;
    margin: auto;
    margin-top: 200px;
    padding: 0 70px;
  }
}

main section.about div.about-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.about div.about-title h2 {
  color: #fbeeea;
  font-size: 9vw;
  font-family: "HSYuJi";
  margin-right: 6%;
}

@media screen and (min-width: 768px) {
  main section.about div.about-title h2 {
    font-size: 8vw;
    margin-right: 5%;
  }
}

@media screen and (min-width: 1024px) {
  main section.about div.about-title h2 {
    font-size: 80px;
    margin-right: 45px;
  }
}

main section.about div.about-title div {
  padding-top: 3%;
  display: inline-block;
  width: 9%;
}

@media screen and (min-width: 768px) {
  main section.about div.about-title div {
    width: 7%;
  }
}

@media screen and (min-width: 1024px) {
  main section.about div.about-title div {
    padding-top: 2%;
    width: auto;
  }
}

main section.about div.about-title div img {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  main section.about section.about-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 100px;
  }
}

main section.about section.about-top div.about-img {
  margin: 15% 0;
  position: relative;
}

@media screen and (min-width: 768px) {
  main section.about section.about-top div.about-img {
    margin: 10% 0;
  }
}

@media screen and (min-width: 1024px) {
  main section.about section.about-top div.about-img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
    width: 26%;
  }
}

main section.about section.about-top div.about-img div img {
  width: 85%;
  margin: auto;
}

@media screen and (min-width: 425px) {
  main section.about section.about-top div.about-img div img {
    width: 360px;
  }
}

@media screen and (min-width: 768px) {
  main section.about section.about-top div.about-img div img {
    width: auto;
  }
}

@media screen and (min-width: 1024px) {
  main section.about section.about-top div.about-img div img {
    width: 100%;
  }
}

main section.about section.about-top div.about-img .photo-txt {
  display: none;
  position: absolute;
}

@media screen and (min-width: 1024px) {
  main section.about section.about-top div.about-des {
    width: 70%;
  }
}

main section.about section.about-top div.about-des h3 {
  text-align: center;
  font-family: "HSYuJi";
  font-size: 23px;
  color: #e28f83;
  text-transform: uppercase;
}

@media screen and (min-width: 425px) {
  main section.about section.about-top div.about-des h3 {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  main section.about section.about-top div.about-des h3 {
    font-size: 45px;
  }
}

@media screen and (min-width: 1024px) {
  main section.about section.about-top div.about-des h3 {
    text-align: left;
    font-size: 37px;
  }
}

@media screen and (min-width: 1024px) {
  main section.about section.about-top div.about-des h3 span {
    display: inline-block;
  }
}

main section.about section.about-top div.about-des p {
  width: 95%;
  margin: auto;
  margin-top: 40px;
  font-size: 16px;
  text-align: justify;
}

@media screen and (min-width: 425px) {
  main section.about section.about-top div.about-des p {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  main section.about section.about-top div.about-des p {
    font-size: 26px;
    margin-top: 50px;
  }
}

@media screen and (min-width: 1024px) {
  main section.about section.about-top div.about-des p {
    width: 100%;
    text-align: left;
    font-size: 20px;
  }
}

main section.about section.about-btm {
  margin-top: 20%;
}

@media screen and (min-width: 1024px) {
  main section.about section.about-btm {
    margin-top: 15%;
  }
}

@media screen and (min-width: 1024px) {
  main section.about section.about-btm div.moveMent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

main section.about section.about-btm div.moveMent div.pic {
  display: none;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  main section.about section.about-btm div.moveMent div.pic {
    display: block;
    width: 15%;
  }
}

main section.about section.about-btm div.moveMent div.pic:first-child {
  display: block;
}

main section.about section.about-btm div.moveMent div.pic img {
  width: 100%;
}

main section.skills {
  margin-top: 100px;
  padding: 0 20px;
}

main section.skills div.skills-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.skills div.skills-title div {
  padding-top: 3%;
  display: inline-block;
  margin-right: 5%;
}

main section.skills div.skills-title div img {
  width: 30px;
}

main section.skills div.skills-title h2 {
  color: #fbeeea;
  font-size: 35px;
  font-family: "HSYuJi";
}

main section.skills div.license {
  display: none;
}

main section.skills div.skills-des {
  margin-top: 80px;
}

main section.skills div.skills-des div.skills-img-wrap {
  position: relative;
  width: 100%;
}

main section.skills div.skills-des div.skills-img-wrap img {
  width: 100%;
}

main section.skills div.skills-des div.skills-img-wrap img:first-child {
  display: none;
}

@media screen and (min-width: 1024px) {
  main section.skills div.skills-des div.skills-img-wrap img:first-child {
    display: block;
    width: auto;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  main section.skills div.skills-des div.skills-img-wrap img:nth-child(2) {
    display: none;
  }
}

main section.skills div.skills-des div.skills-img-wrap h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 40px;
  color: #fbeeea;
  font-weight: 900;
}

main section.skills div.skills-des ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section.skills div.skills-des ul li {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

main section.skills div.skills-des ul li .s-text-wrap {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main section.skills div.line {
  display: none;
}
/*# sourceMappingURL=index.css.map */