@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://webfontworld.github.io/HSYuJi/HSYuJi.css");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  margin: 0 auto;
  background-color: #333;
  color: #fff;
}

a {
  display: block;
  text-decoration: none;
  color: #fbeeea;
}

ul li, ol li {
  list-style: none;
}

img {
  display: block;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
}

p {
  font-size: 0.9em;
}

span {
  display: block;
  font-size: 1em;
}

header,
nav,
main,
section,
aside,
article,
footer {
  display: block;
}

body {
  cursor: url("../images/mouse-cursor.png"), auto;
}

body::-webkit-scrollbar {
  width: 10px;
  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 30%;
  /* 스크롤바의 길이 */
  background: #e28f83;
  /* 스크롤바의 색상 */
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

body::-webkit-scrollbar-track {
  background: rgba(251, 238, 234, 0.8);
  /*스크롤바 뒷 배경 색상*/
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #333;
}

@media screen and (min-width: 768px) {
  header {
    height: 90px;
  }
}

header div.h-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto;
  height: 100%;
  padding: 0 4%;
}

@media screen and (min-width: 1024px) {
  header div.h-wrap {
    padding: 0 3%;
  }
}

header div.h-wrap h1 a:first-child {
  display: none;
}

@media screen and (min-width: 1024px) {
  header div.h-wrap h1 a:first-child {
    display: block;
  }
}

header div.h-wrap h1 a:first-child img {
  width: 350px;
}

@media screen and (min-width: 1024px) {
  header div.h-wrap h1 a:last-child {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  header div.h-wrap ul.gnb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 500px;
    font-family: "HSYuJi";
  }
}

@media screen and (min-width: 1024px) {
  header div.h-wrap ul.gnb {
    width: 550px;
  }
}

header div.h-wrap ul.gnb .toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 10px);
          transform: rotate(-45deg) translate(-8px, 10px);
}

header div.h-wrap ul.gnb .toggle .line2 {
  opacity: 0;
}

header div.h-wrap ul.gnb .toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-8px, -10px);
          transform: rotate(45deg) translate(-8px, -10px);
}

header div.h-wrap ul.gnb li {
  display: none;
}

@media screen and (min-width: 768px) {
  header div.h-wrap ul.gnb li {
    display: block;
  }
}

header div.h-wrap ul.gnb li:first-child {
  display: block;
}

@media screen and (min-width: 768px) {
  header div.h-wrap ul.gnb li:first-child {
    display: none;
  }
}

header div.h-wrap ul.gnb li .burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 31px;
  cursor: pointer;
}

header div.h-wrap ul.gnb li .burger div {
  width: 35px;
  height: 5px;
  border-radius: 10px;
  background-color: #fbeeea;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header div.h-wrap ul.gnb li a {
  font-size: 20px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

header div.h-wrap ul.gnb li a:hover {
  color: #e28f83;
}

@media screen and (min-width: 1024px) {
  header div.h-wrap ul.gnb li a {
    font-size: 22px;
  }
}

header .title-none {
  display: none;
}

header .sub-menu {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  margin-top: 80px;
  padding: 45px 0;
  background-color: #333;
  border-top: 1px solid #fbeeea;
  border-bottom: 1px solid #fbeeea;
}

header .sub-menu li {
  margin-bottom: 35px;
  font-family: "HSYuJi";
  font-size: 1.8rem;
}

header .sub-menu li:last-child {
  margin-bottom: 0;
}

header .sub-menu li a:hover {
  color: #e28f83;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

main {
  width: 100%;
}

main section.main-section {
  position: relative;
  width: 100%;
  height: 100vh;
}

main section.main-section div.main-txt {
  position: absolute;
  top: 25%;
  margin-left: 8%;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  main section.main-section div.main-txt {
    margin-left: 10%;
    top: 20%;
  }
}

@media screen and (min-width: 1024px) {
  main section.main-section div.main-txt {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 700px;
  }
}

main section.main-section div.main-txt .wel {
  font-weight: 600;
  font-size: 6.25vw;
  color: #777;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

@media screen and (min-width: 425px) {
  main section.main-section div.main-txt .wel {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 768px) {
  main section.main-section div.main-txt .wel {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  main section.main-section div.main-txt .wel {
    font-size: 2.5rem;
  }
}

main section.main-section div.main-txt h2 {
  font-weight: 600;
  font-size: 11.875vw;
  margin: 1% 0 3% 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

main section.main-section div.main-txt h2 span {
  display: inline-block;
}

@media screen and (min-width: 425px) {
  main section.main-section div.main-txt h2 {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 768px) {
  main section.main-section div.main-txt h2 {
    font-size: 5.2rem;
  }
}

@media screen and (min-width: 1024px) {
  main section.main-section div.main-txt h2 {
    font-size: 5.8rem;
  }
}

main section.main-section div.main-txt .front {
  font-weight: 500;
  font-size: 5.625vw;
  color: #e28f83;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

@media screen and (min-width: 425px) {
  main section.main-section div.main-txt .front {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  main section.main-section div.main-txt .front {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1024px) {
  main section.main-section div.main-txt .front {
    font-size: 2.3rem;
  }
}

main section.main-section div.main-img {
  background-color: aqua;
}

@media screen and (min-width: 768px) {
  main section.main-section div.main-img .main-img-m {
    display: none;
  }
}

main section.main-section div.main-img .main-img-m div {
  opacity: 0.7;
  position: absolute;
}

main section.main-section div.main-img .main-img-m div:nth-child(1), main section.main-section div.main-img .main-img-m div:nth-child(2), main section.main-section div.main-img .main-img-m div:nth-child(3), main section.main-section div.main-img .main-img-m div:nth-child(4) {
  display: block;
}

main section.main-section div.main-img .main-img-m div:nth-child(1) {
  bottom: 13%;
  left: 30%;
  -webkit-animation: motion 1s linear 0s infinite alternate;
          animation: motion 1s linear 0s infinite alternate;
  /* 무한 반복 */
}

@-webkit-keyframes motion {
  0% {
    bottom: 13%;
  }
  /* 처음 위치 */
  100% {
    bottom: 20%;
  }
  /* 마지막 위치 */
}

@keyframes motion {
  0% {
    bottom: 13%;
  }
  /* 처음 위치 */
  100% {
    bottom: 20%;
  }
  /* 마지막 위치 */
}

main section.main-section div.main-img .main-img-m div:nth-child(2) {
  bottom: 5%;
  left: 57%;
  -webkit-animation: motion2 1.3s linear 0s infinite alternate;
          animation: motion2 1.3s linear 0s infinite alternate;
  /* 무한 반복 */
}

@-webkit-keyframes motion2 {
  0% {
    bottom: 5%;
  }
  /* 처음 위치 */
  100% {
    bottom: 10%;
  }
  /* 마지막 위치 */
}

@keyframes motion2 {
  0% {
    bottom: 5%;
  }
  /* 처음 위치 */
  100% {
    bottom: 10%;
  }
  /* 마지막 위치 */
}

main section.main-section div.main-img .main-img-m div:nth-child(3) {
  bottom: 8%;
  right: 4%;
  -webkit-animation: motion3 1.8s linear 0s infinite alternate;
          animation: motion3 1.8s linear 0s infinite alternate;
  /* 무한 반복 */
}

@-webkit-keyframes motion3 {
  0% {
    bottom: 8%;
  }
  /* 처음 위치 */
  100% {
    bottom: 18%;
  }
  /* 마지막 위치 */
}

@keyframes motion3 {
  0% {
    bottom: 8%;
  }
  /* 처음 위치 */
  100% {
    bottom: 18%;
  }
  /* 마지막 위치 */
}

main section.main-section div.main-img .main-img-m div:nth-child(4) {
  left: 4%;
  bottom: 7%;
  -webkit-animation: motion4 0.8s linear 0s infinite alternate;
          animation: motion4 0.8s linear 0s infinite alternate;
  /* 무한 반복 */
}

@-webkit-keyframes motion4 {
  0% {
    bottom: 7%;
  }
  /* 처음 위치 */
  100% {
    bottom: 15%;
  }
  /* 마지막 위치 */
}

@keyframes motion4 {
  0% {
    bottom: 7%;
  }
  /* 처음 위치 */
  100% {
    bottom: 15%;
  }
  /* 마지막 위치 */
}

main section.main-section div.main-img .main-img-t {
  display: none;
}

@media screen and (min-width: 768px) {
  main section.main-section div.main-img .main-img-t {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  main section.main-section div.main-img .main-img-t {
    display: none;
  }
}

main section.main-section div.main-img .main-img-t div {
  position: absolute;
  opacity: 0.7;
}

main section.main-section div.main-img .main-img-t div:nth-child(1) {
  bottom: 8%;
  left: 4%;
  -webkit-animation: motion01 1s linear 0s infinite alternate;
          animation: motion01 1s linear 0s infinite alternate;
  /* 무한 반복 */
}

@-webkit-keyframes motion01 {
  0% {
    bottom: 8%;
  }
  /* 처음 위치 */
  100% {
    bottom: 15%;
  }
  /* 마지막 위치 */
}

@keyframes motion01 {
  0% {
    bottom: 8%;
  }
  /* 처음 위치 */
  100% {
    bottom: 15%;
  }
  /* 마지막 위치 */
}

main section.main-section div.main-img .main-img-t div:nth-child(2) {
  bottom: 4%;
  left: 21%;
  -webkit-animation: motion02 0.9s linear 0s infinite alternate;
          animation: motion02 0.9s linear 0s infinite alternate;
  /* 무한 반복 */
}

@-webkit-keyframes motion02 {
  0% {
    bottom: 4%;
  }
  /* 처음 위치 */
  100% {
    bottom: 12%;
  }
  /* 마지막 위치 */
}

@keyframes motion02 {
  0% {
    bottom: 4%;
  }
  /* 처음 위치 */
  100% {
    bottom: 12%;
  }
  /* 마지막 위치 */
}

main section.main-section div.main-img .main-img-t div:nth-child(3) {
  bottom: 8%;
  left: 36%;
  -webkit-animation: motion03 1.2s linear 0s infinite alternate;
          animation: motion03 1.2s linear 0s infinite alternate;
  /* 무한 반복 */
}

@-webkit-keyframes motion03 {
  0% {
    bottom: 8%;
  }
  /* 처음 위치 */
  100% {
    bottom: 16%;
  }
  /* 마지막 위치 */
}

@keyframes motion03 {
  0% {
    bottom: 8%;
  }
  /* 처음 위치 */
  100% {
    bottom: 16%;
  }
  /* 마지막 위치 */
}

main section.main-section div.main-img .main-img-t div:nth-child(4) {
  bottom: 6%;
  left: 56%;
  -webkit-animation: motion04 0.9s linear 0s infinite alternate;
          animation: motion04 0.9s linear 0s infinite alternate;
  /* 무한 반복 */
}

@-webkit-keyframes motion04 {
  0% {
    bottom: 6%;
  }
  /* 처음 위치 */
  100% {
    bottom: 13%;
  }
  /* 마지막 위치 */
}

@keyframes motion04 {
  0% {
    bottom: 6%;
  }
  /* 처음 위치 */
  100% {
    bottom: 13%;
  }
  /* 마지막 위치 */
}

main section.main-section div.main-img .main-img-t div:nth-child(5) {
  bottom: 8%;
  left: 74%;
  -webkit-animation: motion01 1s linear 0s infinite alternate;
          animation: motion01 1s linear 0s infinite alternate;
  /* 무한 반복 */
}

@keyframes motion01 {
  0% {
    bottom: 8%;
  }
  /* 처음 위치 */
  100% {
    bottom: 15%;
  }
  /* 마지막 위치 */
}

main section.main-section div.main-img .main-img-t div:nth-child(6) {
  bottom: 7%;
  right: 4%;
  -webkit-animation: motion06 1.4s linear 0s infinite alternate;
          animation: motion06 1.4s linear 0s infinite alternate;
  /* 무한 반복 */
}

@-webkit-keyframes motion06 {
  0% {
    bottom: 7%;
  }
  /* 처음 위치 */
  100% {
    bottom: 14%;
  }
  /* 마지막 위치 */
}

@keyframes motion06 {
  0% {
    bottom: 7%;
  }
  /* 처음 위치 */
  100% {
    bottom: 14%;
  }
  /* 마지막 위치 */
}

main section.main-section div.main-img .main-img-p {
  display: none;
}

main section.main-section div.main-img .main-img-p div {
  position: absolute;
  opacity: 0.7;
}

main section.main-section div.main-img .main-img-p div:nth-child(1) {
  bottom: 8%;
  left: 4%;
}

main section.main-section div.main-img .main-img-p div:nth-child(2) {
  bottom: 4%;
  left: 15%;
}

main section.main-section div.main-img .main-img-p div:nth-child(3) {
  bottom: 8%;
  left: 25%;
}

main section.main-section div.main-img .main-img-p div:nth-child(4) {
  bottom: 6%;
  left: 39%;
}

main section.main-section div.main-img .main-img-p div:nth-child(5) {
  bottom: 8%;
  left: 52%;
}

main section.main-section div.main-img .main-img-p div:nth-child(6) {
  bottom: 6%;
  left: 66%;
}

main section.main-section div.main-img .main-img-p div:nth-child(7) {
  bottom: 9%;
  left: 78%;
}

main section.main-section div.main-img .main-img-p div:nth-child(8) {
  bottom: 6%;
  right: 4%;
}

main section.main-section div.piano-wrap {
  display: none;
}

@media screen and (min-width: 1024px) {
  main section.main-section div.piano-wrap {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: block;
  }
}

main section.main-section div.piano-wrap div.piano-white {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main section.main-section div.piano-wrap div.piano-white div {
  width: 6%;
  height: 13.5vw;
  border: 1px solid white;
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: #333;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(1):hover {
  height: 17.5vw;
  border: 1px solid #ffebb4;
  background-color: #ffebb4;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(2) {
  height: 15.5vw;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(2):hover {
  height: 17.5vw;
  border: 1px solid #a2c1d9;
  background-color: #a2c1d9;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(3) {
  height: 14.5vw;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(3):hover {
  height: 17.5vw;
  border: 1px solid #b4d2c4;
  background-color: #b4d2c4;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(4) {
  height: 11.5vw;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(4):hover {
  height: 17.5vw;
  border: 1px solid #ffd0c2;
  background-color: #ffd0c2;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(5) {
  height: 13vw;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(5):hover {
  height: 17.5vw;
  border: 1px solid #ffebb4;
  background-color: #ffebb4;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(6) {
  height: 16.5vw;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(6):hover {
  height: 17.5vw;
  border: 1px solid #a2c1d9;
  background-color: #a2c1d9;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(7) {
  height: 15vw;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(7):hover {
  height: 17.5vw;
  border: 1px solid #b4d2c4;
  background-color: #b4d2c4;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(8) {
  height: 13.5vw;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(8):hover {
  height: 17.5vw;
  border: 1px solid #ffd0c2;
  background-color: #ffd0c2;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(9) {
  height: 15.1vw;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(9):hover {
  height: 17.5vw;
  border: 1px solid #ffebb4;
  background-color: #ffebb4;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(10) {
  height: 14.5vw;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(10):hover {
  height: 17.5vw;
  border: 1px solid #a2c1d9;
  background-color: #a2c1d9;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(11) {
  height: 11.5vw;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(11):hover {
  height: 17.5vw;
  border: 1px solid #b4d2c4;
  background-color: #b4d2c4;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(12) {
  height: 13vw;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(12):hover {
  height: 17.5vw;
  border: 1px solid #ffd0c2;
  background-color: #ffd0c2;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(13) {
  height: 16.5vw;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(13):hover {
  height: 17.5vw;
  border: 1px solid #ffebb4;
  background-color: #ffebb4;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(14) {
  height: 15.1vw;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(14):hover {
  height: 17.5vw;
  border: 1px solid #a2c1d9;
  background-color: #a2c1d9;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(15) {
  height: 13vw;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(15):hover {
  height: 17.5vw;
  border: 1px solid #b4d2c4;
  background-color: #b4d2c4;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(16) {
  height: 15.1vw;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(16):hover {
  height: 17.5vw;
  border: 1px solid #ffd0c2;
  background-color: #ffd0c2;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(17) {
  height: 14.5vw;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(17):hover {
  height: 17.5vw;
  border: 1px solid #ffebb4;
  background-color: #ffebb4;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(18) {
  height: 11.5vw;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(18):hover {
  height: 17.5vw;
  border: 1px solid #a2c1d9;
  background-color: #a2c1d9;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(19) {
  height: 13vw;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(19):hover {
  height: 17.5vw;
  border: 1px solid #b4d2c4;
  background-color: #b4d2c4;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(20) {
  height: 16.5vw;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(20):hover {
  height: 17.5vw;
  border: 1px solid #ffd0c2;
  background-color: #ffd0c2;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(21) {
  height: 13vw;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(21):hover {
  height: 17.5vw;
  border: 1px solid #ffebb4;
  background-color: #ffebb4;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(22) {
  height: 15.1vw;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(22):hover {
  height: 17.5vw;
  border: 1px solid #a2c1d9;
  background-color: #a2c1d9;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(23) {
  height: 11.5vw;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(23):hover {
  height: 17.5vw;
  border: 1px solid #b4d2c4;
  background-color: #b4d2c4;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(24) {
  height: 16.5vw;
}

main section.main-section div.piano-wrap div.piano-white div:nth-child(24):hover {
  height: 17.5vw;
  border: 1px solid #ffd0c2;
  background-color: #ffd0c2;
}

main section.main-section div.piano-wrap div.piano-black {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

main section.main-section div.piano-wrap div.piano-black div {
  position: absolute;
  width: 2%;
  height: 6.2vw;
  background: #fbeeea;
  border-radius: 7px 7px 0 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.45), 2px 2px 9px rgba(255, 255, 255, 0.3);
          box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.45), 2px 2px 9px rgba(255, 255, 255, 0.3);
}

main section.main-section div.piano-wrap div.piano-black div:hover {
  -webkit-box-shadow: inset -2px -2px 10px rgba(0, 0, 0, 0.45), inset 2px 2px 9px rgba(255, 255, 255, 0.3);
          box-shadow: inset -2px -2px 10px rgba(0, 0, 0, 0.45), inset 2px 2px 9px rgba(255, 255, 255, 0.3);
}

main section.main-section div.piano-wrap div.piano-black div:nth-child(1) {
  bottom: 0;
  left: 3.2%;
}

main section.main-section div.piano-wrap div.piano-black div:nth-child(2) {
  bottom: 0;
  left: 7.4%;
}

main section.main-section div.piano-wrap div.piano-black div:nth-child(3) {
  bottom: 0;
  left: 15.7%;
}

main section.main-section div.piano-wrap div.piano-black div:nth-child(4) {
  bottom: 0;
  left: 19.8%;
}

main section.main-section div.piano-wrap div.piano-black div:nth-child(5) {
  bottom: 0;
  left: 24%;
}

main section.main-section div.piano-wrap div.piano-black div:nth-child(6) {
  bottom: 0;
  left: 32.4%;
}

main section.main-section div.piano-wrap div.piano-black div:nth-child(7) {
  bottom: 0;
  left: 36.5%;
}

main section.main-section div.piano-wrap div.piano-black div:nth-child(8) {
  bottom: 0;
  left: 44.8%;
}

main section.main-section div.piano-wrap div.piano-black div:nth-child(9) {
  bottom: 0;
  left: 49%;
}

main section.main-section div.piano-wrap div.piano-black div:nth-child(10) {
  bottom: 0;
  left: 53.2%;
}

main section.main-section div.piano-wrap div.piano-black div:nth-child(11) {
  bottom: 0;
  left: 61.5%;
}

main section.main-section div.piano-wrap div.piano-black div:nth-child(12) {
  bottom: 0;
  left: 65.7%;
}

main section.main-section div.piano-wrap div.piano-black div:nth-child(13) {
  bottom: 0;
  left: 74%;
}

main section.main-section div.piano-wrap div.piano-black div:nth-child(14) {
  bottom: 0;
  left: 78.2%;
}

main section.main-section div.piano-wrap div.piano-black div:nth-child(15) {
  bottom: 0;
  left: 82.4%;
}

main section.main-section div.piano-wrap div.piano-black div:nth-child(16) {
  bottom: 0;
  left: 90.7%;
}

main section.main-section div.piano-wrap div.piano-black div:nth-child(17) {
  bottom: 0;
  left: 94.9%;
}

main section.about {
  position: relative;
  margin-top: 30%;
  padding: 80px 4% 0 4%;
}

@media screen and (min-width: 1024px) {
  main section.about {
    width: 100%;
    max-width: 1720px;
    margin: auto;
    margin-top: 200px;
    padding: 80px 70px 0 70px;
  }
}

main section.about div.about-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.about div.about-title h2 {
  color: #fbeeea;
  font-size: 9vw;
  font-family: "HSYuJi";
  margin-right: 6%;
}

@media screen and (min-width: 768px) {
  main section.about div.about-title h2 {
    font-size: 8vw;
    margin-right: 5%;
  }
}

@media screen and (min-width: 1024px) {
  main section.about div.about-title h2 {
    font-size: 80px;
    margin-right: 45px;
  }
}

main section.about div.about-title div {
  padding-top: 3%;
  display: inline-block;
  width: 9%;
}

@media screen and (min-width: 768px) {
  main section.about div.about-title div {
    width: 7%;
  }
}

@media screen and (min-width: 1024px) {
  main section.about div.about-title div {
    padding-top: 2%;
    width: auto;
  }
}

main section.about div.about-title div img {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  main section.about section.about-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 100px;
  }
}

main section.about section.about-top div.about-img {
  margin: 15% 0;
  position: relative;
}

@media screen and (min-width: 768px) {
  main section.about section.about-top div.about-img {
    margin: 10% 0;
  }
}

@media screen and (min-width: 1024px) {
  main section.about section.about-top div.about-img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
    width: 26%;
  }
}

main section.about section.about-top div.about-img div img {
  width: 85%;
  margin: auto;
}

@media screen and (min-width: 425px) {
  main section.about section.about-top div.about-img div img {
    width: 360px;
  }
}

@media screen and (min-width: 768px) {
  main section.about section.about-top div.about-img div img {
    width: auto;
  }
}

@media screen and (min-width: 1024px) {
  main section.about section.about-top div.about-img div img {
    width: 100%;
  }
}

main section.about section.about-top div.about-img .photo-txt {
  display: none;
  position: absolute;
}

@media screen and (min-width: 1024px) {
  main section.about section.about-top div.about-des {
    width: 70%;
  }
}

main section.about section.about-top div.about-des h3 {
  text-align: center;
  font-family: "HSYuJi";
  font-size: 23px;
  color: #e28f83;
  text-transform: uppercase;
}

@media screen and (min-width: 425px) {
  main section.about section.about-top div.about-des h3 {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  main section.about section.about-top div.about-des h3 {
    font-size: 45px;
  }
}

@media screen and (min-width: 1024px) {
  main section.about section.about-top div.about-des h3 {
    text-align: left;
    font-size: 37px;
  }
}

@media screen and (min-width: 1024px) {
  main section.about section.about-top div.about-des h3 span {
    display: inline-block;
  }
}

main section.about section.about-top div.about-des p {
  width: 95%;
  margin: auto;
  margin-top: 40px;
  font-size: 16px;
  text-align: justify;
}

@media screen and (min-width: 425px) {
  main section.about section.about-top div.about-des p {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  main section.about section.about-top div.about-des p {
    font-size: 26px;
    margin-top: 50px;
  }
}

@media screen and (min-width: 1024px) {
  main section.about section.about-top div.about-des p {
    width: 100%;
    text-align: left;
    font-size: 20px;
  }
}

main section.about section.about-btm {
  margin-top: 20%;
}

@media screen and (min-width: 1024px) {
  main section.about section.about-btm {
    margin-top: 15%;
  }
}

@media screen and (min-width: 1024px) {
  main section.about section.about-btm div.moveMent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

main section.about section.about-btm div.moveMent div.pic {
  display: none;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  main section.about section.about-btm div.moveMent div.pic {
    display: block;
    width: 15%;
  }
}

main section.about section.about-btm div.moveMent div.pic:first-child {
  display: block;
}

main section.about section.about-btm div.moveMent div.pic img {
  width: 100%;
}

main section.skills {
  width: 100%;
  margin-top: 100px;
  padding: 80px 4% 0 4%;
}

@media screen and (min-width: 1024px) {
  main section.skills {
    width: 100%;
    max-width: 1720px;
    margin: auto;
    margin-top: 200px;
    padding: 80px 70px 0 70px;
  }
}

main section.skills div.skills-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1024px) {
  main section.skills div.skills-title {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

main section.skills div.skills-title div {
  padding-top: 3%;
  display: inline-block;
  width: 9%;
}

@media screen and (min-width: 768px) {
  main section.skills div.skills-title div {
    width: 7%;
  }
}

@media screen and (min-width: 1024px) {
  main section.skills div.skills-title div {
    padding-top: 2%;
    width: auto;
  }
}

main section.skills div.skills-title div img {
  width: 100%;
}

main section.skills div.skills-title h2 {
  color: #fbeeea;
  font-size: 9vw;
  font-family: "HSYuJi";
  margin-left: 6%;
}

@media screen and (min-width: 768px) {
  main section.skills div.skills-title h2 {
    font-size: 8vw;
    margin-left: 5%;
  }
}

@media screen and (min-width: 1024px) {
  main section.skills div.skills-title h2 {
    font-size: 80px;
    margin-left: 45px;
  }
}

main section.skills div.license {
  display: none;
}

main section.skills div.skills-des {
  position: relative;
  width: 100%;
  margin-top: 80px;
}

@media screen and (min-width: 1024px) {
  main section.skills div.skills-des {
    width: 750px;
    margin: 20% auto;
  }
}

main section.skills div.skills-des div.skills-img-wrap {
  width: 100%;
  margin: auto;
  padding: 0 5%;
}

@media screen and (min-width: 1024px) {
  main section.skills div.skills-des div.skills-img-wrap {
    padding: 0;
  }
}

main section.skills div.skills-des div.skills-img-wrap img {
  width: 100%;
  margin: auto;
}

main section.skills div.skills-des div.skills-img-wrap img:first-child {
  display: none;
}

@media screen and (min-width: 1024px) {
  main section.skills div.skills-des div.skills-img-wrap img:first-child {
    display: block;
    width: 750px;
    margin: auto;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  main section.skills div.skills-des div.skills-img-wrap img:nth-child(2) {
    display: none;
  }
}

main section.skills div.skills-des ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15%;
  padding: 0 4%;
}

@media screen and (min-width: 1024px) {
  main section.skills div.skills-des ul {
    margin-top: 0;
    padding: 0;
  }
}

main section.skills div.skills-des ul li {
  position: relative;
  width: 48%;
  height: 39vw;
  border-radius: 50%;
  margin-bottom: 5%;
  background-color: #333;
}

@media screen and (min-width: 1024px) {
  main section.skills div.skills-des ul li {
    position: absolute;
    width: 14rem;
    height: 14rem;
    margin-bottom: 0;
  }
}

main section.skills div.skills-des ul li:nth-child(1) {
  border: 3px solid #f44336;
}

@media screen and (min-width: 1024px) {
  main section.skills div.skills-des ul li:nth-child(1) {
    top: -6rem;
    left: 7.5rem;
    border: 5px solid #f44336;
  }
}

main section.skills div.skills-des ul li:nth-child(2) {
  border: 3px solid #ff9800;
}

@media screen and (min-width: 1024px) {
  main section.skills div.skills-des ul li:nth-child(2) {
    top: -6rem;
    right: 7.5rem;
    border: 5px solid #ff9800;
  }
}

main section.skills div.skills-des ul li:nth-child(3) {
  border: 3px solid #d5b71d;
}

@media screen and (min-width: 1024px) {
  main section.skills div.skills-des ul li:nth-child(3) {
    top: 7.5rem;
    right: -6rem;
    border: 5px solid #d5b71d;
  }
}

main section.skills div.skills-des ul li:nth-child(4) {
  border: 3px solid #abba19;
}

@media screen and (min-width: 1024px) {
  main section.skills div.skills-des ul li:nth-child(4) {
    bottom: 7.5rem;
    right: -6rem;
    border: 5px solid #abba19;
  }
}

main section.skills div.skills-des ul li:nth-child(4) div p {
  font-size: 5.5vw;
}

@media screen and (min-width: 1024px) {
  main section.skills div.skills-des ul li:nth-child(4) div p {
    font-size: 32px;
  }
}

main section.skills div.skills-des ul li:nth-child(5) {
  border: 3px solid #0c9688;
}

@media screen and (min-width: 1024px) {
  main section.skills div.skills-des ul li:nth-child(5) {
    bottom: -6rem;
    left: 7.5rem;
    border: 5px solid #0c9688;
  }
}

main section.skills div.skills-des ul li:nth-child(6) {
  border: 3px solid #2196f3;
}

@media screen and (min-width: 1024px) {
  main section.skills div.skills-des ul li:nth-child(6) {
    bottom: -6rem;
    right: 7.5rem;
    border: 5px solid #2196f3;
  }
}

main section.skills div.skills-des ul li:nth-child(7) {
  border: 3px solid #3f51b5;
}

@media screen and (min-width: 1024px) {
  main section.skills div.skills-des ul li:nth-child(7) {
    top: 7.5rem;
    left: -6rem;
    border: 5px solid #3f51b5;
  }
}

main section.skills div.skills-des ul li:nth-child(8) {
  border: 3px solid #673ab7;
}

@media screen and (min-width: 1024px) {
  main section.skills div.skills-des ul li:nth-child(8) {
    bottom: 7.5rem;
    left: -6rem;
    border: 5px solid #673ab7;
  }
}

main section.skills div.skills-des ul li .s-text-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  font-family: "HSYuJi";
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main section.skills div.skills-des ul li .s-text-wrap p {
  font-size: 7vw;
  margin-bottom: 5%;
}

@media screen and (min-width: 1024px) {
  main section.skills div.skills-des ul li .s-text-wrap p {
    font-size: 40px;
    margin-bottom: 5px;
  }
}

main section.skills div.skills-des ul li .s-text-wrap span {
  font-size: 5vw;
}

@media screen and (min-width: 1024px) {
  main section.skills div.skills-des ul li .s-text-wrap span {
    font-size: 30px;
  }
}

main div.line2 {
  display: none;
}

@media screen and (min-width: 1024px) {
  main div.line2 {
    display: block;
    background-color: #fbeeea;
    width: 2px;
    height: 300px;
    margin: 200px auto;
  }
}

main section.portfolio {
  width: 100%;
  margin-top: 100px;
  padding: 80px 4% 80px 4%;
}

@media screen and (min-width: 1024px) {
  main section.portfolio {
    width: 100%;
    max-width: 1720px;
    margin: auto;
    margin-top: 200px;
    padding: 80px 70px 0 70px;
  }
}

main section.portfolio .portfolio-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section.portfolio .portfolio-title div {
  padding-top: 3%;
  display: inline-block;
  width: 5%;
}

@media screen and (min-width: 768px) {
  main section.portfolio .portfolio-title div {
    width: 4%;
  }
}

@media screen and (min-width: 1024px) {
  main section.portfolio .portfolio-title div {
    padding-top: 2%;
    width: auto;
  }
}

main section.portfolio .portfolio-title div img {
  width: 100%;
}

main section.portfolio .portfolio-title h2 {
  color: #fbeeea;
  font-size: 9vw;
  font-family: "HSYuJi";
  margin-left: 7%;
  margin-right: 7%;
}

@media screen and (min-width: 768px) {
  main section.portfolio .portfolio-title h2 {
    font-size: 8vw;
    margin-left: 6%;
    margin-right: 6%;
  }
}

@media screen and (min-width: 1024px) {
  main section.portfolio .portfolio-title h2 {
    font-size: 80px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

main section.portfolio .portfolio-title h2 + div {
  padding-top: 3%;
  display: inline-block;
  width: 4.5%;
}

@media screen and (min-width: 768px) {
  main section.portfolio .portfolio-title h2 + div {
    width: 3.5%;
  }
}

@media screen and (min-width: 1024px) {
  main section.portfolio .portfolio-title h2 + div {
    padding-top: 2%;
    width: auto;
  }
}

main section.portfolio .portfolio-title h2 + div img {
  width: 100%;
}

footer {
  width: 100%;
  height: 100%;
  background: url("../images/con-bg-m.png") no-repeat;
  background-size: cover;
}

footer section.contact {
  width: 100%;
  margin-top: 100px;
  padding: 80px 4% 0 4%;
  position: relative;
}

@media screen and (min-width: 1024px) {
  footer section.contact {
    width: 100%;
    max-width: 1720px;
    margin: auto;
    margin-top: 200px;
    padding: 80px 70px 0 70px;
  }
}

footer section.contact .con-title h2 {
  color: #fff;
  font-size: 9vw;
  font-family: "HSYuJi";
}

@media screen and (min-width: 768px) {
  footer section.contact .con-title h2 {
    font-size: 8vw;
  }
}

@media screen and (min-width: 1024px) {
  footer section.contact .con-title h2 {
    font-size: 80px;
  }
}

footer section.contact .con-form {
  padding: 15% 0;
}

footer section.contact .con-form form fieldset {
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 30px 25px;
}

footer section.contact .con-form form fieldset input {
  border: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  width: 100%;
  margin-bottom: 20px;
}

footer section.contact .con-form form fieldset textarea {
  width: 100%;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: transparent;
  margin-top: 20px;
}

footer section.contact .con-form form .i-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

footer section.contact .con-form form .i-wrap input#sub {
  width: 40%;
  font-size: 5vw;
  font-family: "HSYuJi";
  color: #fff;
  border: 1px solid #333;
  border-radius: 15px;
  padding-bottom: 1%;
  background-color: #333;
}

footer section.contact .footer-bottom {
  position: absolute;
  width: 100%;
  padding: 3% 0;
  left: 0;
  bottom: 0;
  border-top: 2px solid #fff;
}

footer section.contact .footer-bottom p {
  text-align: center;
  color: #fff;
  font-size: 3.5vw;
}
/*# sourceMappingURL=index.css.map */