@import "style.scss";
@import "common.scss";
@import "mixin.scss";

header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #333;

    @include responsive(tablet-size) {
        height: 90px;
    }

    div.h-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        // max-width: 1920px;
        margin: auto;
        height: 100%;
        padding: 0 4%;

        @include responsive(pc-size) {
            padding: 0 3%;
        }

        h1 {
            a {

                &:first-child {
                    display: none;

                    @include responsive(pc-size) {
                        display: block;
                    }

                    img {
                        width: 350px;
                    }
                }

                &:last-child {
                    @include responsive(pc-size) {
                        display: none;
                    }
                }
            }
        }

        ul.gnb {
            @include responsive(tablet-size) {
                display: flex;
                justify-content: space-between;
                width: 500px;
                font-family: $point-font;
            }

            @include responsive(pc-size) {
                width: 550px;
            }

            .toggle .line1 {
                transform: rotate(-45deg) translate(-8px, 10px);
            }
            
            .toggle .line2 {
                opacity: 0;
            }
            
            .toggle .line3 {
                transform: rotate(45deg) translate(-8px, -10px);
            }

            li {
                display: none;

                @include responsive(tablet-size) {
                    display: block;
                }

                &:first-child {
                    display: block;

                    @include responsive(tablet-size) {
                        display: none;
                    }
                }

                .burger {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 31px;
                    cursor: pointer;

                    div {
                        width: 35px;
                        height: 5px;
                        border-radius: 10px;
                        background-color: #fbeeea;
                        transition: all 0.5s;
                    }
                }

                a {
                    font-size: 20px;
                    transition: all 0.3s ease-in;

                    &:hover {
                        color: $point-color;
                    }

                    @include responsive(pc-size) {
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .title-none {
        display: none;
    }

    .sub-menu {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        margin-top: 80px;
        padding: 45px 0;
        background-color: #444;
        border-top: 1px solid #fbeeea;
        border-bottom: 1px solid #fbeeea;

        li {
            margin-bottom: 35px;
            font-family: $point-font;
            font-size: 1.8rem;

            &:last-child {
                margin-bottom: 0;
            }
            
            a {
                &:hover {
                    width: 100%;
                    height: 100%;
                    color: $point-color;
                    background-color: #fbeeea;
                    transition: all 0.3s ease-in;
                }

            }
        }
    }
}

main {
    width: 100%;

    section.main-section {
        position: relative;
        width: 100%;
        height: 100vh;
        // background-color: aquamarine;

        div.main-txt {
            position: absolute;
            top: 25%;
            margin-left: 8%;
            // background-color: pink;
            z-index: 10;

            @include responsive(tablet-size) {
                margin-left: 10%;
                top: 20%;
            }

            @include responsive(pc-size) {
                margin-left: 50%;
                transform: translateX(-50%);
                width: 700px;
                // width: 100%;
            }

            .wel {
                font-weight: 600;
                font-size: 1.8rem;
                color: #777;
                transition: all 0.3s ease-in;

                // @media screen and (min-width: 425px) {
                //     font-size: 1.8rem;
                // }

                // @include responsive(tablet-size) {
                //     font-size: 2.5rem;
                // }

                // @include responsive(pc-size) {
                //     font-size: 2.5rem;
                // }
            }

            h2 {
                font-weight: 600;
                font-size: 3.7rem;
                margin: 1rem 0 1.5rem 0;
                transition: all 0.3s ease-in;

                span {
                    display: inline-block;
                }

                // @media screen and (min-width: 425px) {
                //     font-size: 3.5rem;
                // }

                // @include responsive(tablet-size) {
                //     font-size: 5.2rem;
                // }

                // @include responsive(pc-size) {
                //     font-size: 5.8rem;
                // }
            }

            .front {
                font-weight: 500;
                font-size: 1.5rem;
                color: $point-color;
                transition: all 0.3s ease-in;

                // @media screen and (min-width: 425px) {
                //     font-size: 1.5rem;
                // }

                // @include responsive(tablet-size) {
                //     font-size: 2.2rem;
                // }

                // @include responsive(pc-size) {
                //     font-size: 2.3rem;
                // }
            }
        }

        div.main-img {
            background-color: aqua;

            .main-img-m {

                @include responsive(tablet-size) {
                    display: none;
                }

                div {
                    opacity: 0.7;
                    position: absolute;
    
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        display: block;
                    }
                    
                    &:nth-child(1) {
                        bottom: 13%;
                        left: 30%;

                        animation: motion 1s /* 속도 */
                                linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
                                infinite alternate; /* 무한 반복 */

                        @keyframes motion {
                        0% {bottom: 13%;} /* 처음 위치 */
                        100% {bottom: 20%;} /* 마지막 위치 */
                        }
                    }
    
                    &:nth-child(2) {
                        bottom: 5%;
                        left: 57%;

                        animation: motion2 1.3s /* 속도 */
                                linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
                                infinite alternate; /* 무한 반복 */

                        @keyframes motion2 {
                        0% {bottom: 5%;} /* 처음 위치 */
                        100% {bottom: 10%;} /* 마지막 위치 */
                        }
                    }
    
                    &:nth-child(3) {
                        bottom: 8%;
                        right: 4%;

                        animation: motion3 1.8s /* 속도 */
                                linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
                                infinite alternate; /* 무한 반복 */

                        @keyframes motion3 {
                        0% {bottom: 8%;} /* 처음 위치 */
                        100% {bottom: 18%;} /* 마지막 위치 */
                        }
                    }
    
                    &:nth-child(4) {
                        left: 4%;
                        bottom: 7%;

                        animation: motion4 0.8s /* 속도 */
                                linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
                                infinite alternate; /* 무한 반복 */

                        @keyframes motion4 {
                        0% {bottom: 7%;} /* 처음 위치 */
                        100% {bottom: 15%;} /* 마지막 위치 */
                        }
                    }
                }
            }

            .main-img-t {
                display: none;

                @include responsive(tablet-size) {
                    display: block;
                }

                @include responsive(pc-size) {
                    display: none;
                }

                div {
                    position: absolute;
                    opacity: 0.7;
                    
                    &:nth-child(1) {
                        bottom: 8%;
                        left: 4%;

                        animation: motion01 1s /* 속도 */
                                linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
                                infinite alternate; /* 무한 반복 */

                        @keyframes motion01 {
                        0% {bottom: 8%;} /* 처음 위치 */
                        100% {bottom: 15%;} /* 마지막 위치 */
                        }
                    }
    
                    &:nth-child(2) {
                        bottom: 4%;
                        left: 21%;

                        animation: motion02 0.9s /* 속도 */
                                linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
                                infinite alternate; /* 무한 반복 */

                        @keyframes motion02 {
                        0% {bottom: 4%;} /* 처음 위치 */
                        100% {bottom: 12%;} /* 마지막 위치 */
                        }
                    }
    
                    &:nth-child(3) {
                        bottom: 8%;
                        left: 36%;

                        animation: motion03 1.2s /* 속도 */
                                linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
                                infinite alternate; /* 무한 반복 */

                        @keyframes motion03 {
                        0% {bottom: 8%;} /* 처음 위치 */
                        100% {bottom: 16%;} /* 마지막 위치 */
                        }
                    }
    
                    &:nth-child(4) {
                        bottom: 6%;
                        left: 56%;

                        animation: motion04 0.9s /* 속도 */
                                linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
                                infinite alternate; /* 무한 반복 */

                        @keyframes motion04 {
                        0% {bottom: 6%;} /* 처음 위치 */
                        100% {bottom: 13%;} /* 마지막 위치 */
                        }
                    }

                    &:nth-child(5) {
                        bottom: 8%;
                        left: 74%;

                        animation: motion01 1s /* 속도 */
                                linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
                                infinite alternate; /* 무한 반복 */

                        @keyframes motion01 {
                        0% {bottom: 8%;} /* 처음 위치 */
                        100% {bottom: 15%;} /* 마지막 위치 */
                        }
                    }

                    &:nth-child(6) {
                        bottom: 7%;
                        right: 4%;

                        animation: motion06 1.4s /* 속도 */
                                linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
                                infinite alternate; /* 무한 반복 */

                        @keyframes motion06 {
                        0% {bottom: 7%;} /* 처음 위치 */
                        100% {bottom: 14%;} /* 마지막 위치 */
                        }
                    }
                }
            }

            .main-img-p {
                display: none;

                @include responsive(pc-size) {
                    // display: block;
                }

                div {
                    position: absolute;
                    opacity: 0.7;
                    
                    &:nth-child(1) {
                        bottom: 8%;
                        left: 4%;
                    }
    
                    &:nth-child(2) {
                        bottom: 4%;
                        left: 15%;
                    }
    
                    &:nth-child(3) {
                        bottom: 8%;
                        left: 25%;
                    }
    
                    &:nth-child(4) {
                        bottom: 6%;
                        left: 39%;
                    }

                    &:nth-child(5) {
                        bottom: 8%;
                        left: 52%;
                    }

                    &:nth-child(6) {
                        bottom: 6%;
                        left: 66%;
                    }

                    &:nth-child(7) {
                        bottom: 9%;
                        left: 78%;
                    }

                    &:nth-child(8) {
                        bottom: 6%;
                        right: 4%;
                    }
                }
            }
        }

        div.piano-wrap {
            display: none;
    
            @include responsive(pc-size) {
                position: absolute;
                width: 100%;
                bottom: 0;
                display: block;
            }
            
            div.piano-white {
                position: absolute;
                bottom: 0;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
    
                div {
                    width: 6%;
                    height: 13.5vw;
                    border: 1px solid white;
                    border-collapse: collapse;
                    border-radius: 5px 5px 0 0;
                    transition: all 0.3s ease-in;
                    background: $bg-color;
    
                    &:nth-child(1) { 
                        &:hover {
                            height: 17.5vw;
                            border: 1px solid $color-yellow;
                            background-color: $color-yellow;
                        }
                    }
    
                    &:nth-child(2) { 
                        height: 15.5vw; 
                        &:hover {
                            height: 17.5vw;
                            border: 1px solid $color-blue;
                            background-color: $color-blue;
                        }
                    }
                    
                    &:nth-child(3) { 
                        height: 14.5vw; 
                        &:hover {
                            height: 17.5vw;
                            border: 1px solid $color-green;
                            background-color: $color-green;
                        }
                    }
    
                    &:nth-child(4) { 
                        height: 11.5vw;
                        &:hover {
                            height: 17.5vw;
                            border: 1px solid $color-pink;
                            background-color: $color-pink;
                        }
                    }
    
                    &:nth-child(5) { 
                        height: 13vw;
                        &:hover {
                            height: 17.5vw;
                            border: 1px solid $color-yellow;
                            background-color: $color-yellow;
                        }
                    }
    
                    &:nth-child(6) { 
                        height: 16.5vw; 
                        &:hover {
                            height: 17.5vw;
                            border: 1px solid $color-blue;
                            background-color: $color-blue;
                        }
                    }
    
                    &:nth-child(7) { 
                        height: 15vw;
                        &:hover {
                            height: 17.5vw;
                            border: 1px solid $color-green;
                            background-color: $color-green;
                        } 
                    }
    
                    &:nth-child(8) { 
                        height: 13.5vw; 
                        &:hover {
                            height: 17.5vw;
                            border: 1px solid $color-pink;
                            background-color: $color-pink;
                        }
                    }
    
                    &:nth-child(9) { 
                        height: 15.1vw; 
                        &:hover {
                            height: 17.5vw;
                            border: 1px solid $color-yellow;
                            background-color: $color-yellow;
                        }
                    }
    
                    &:nth-child(10) { 
                        height: 14.5vw; 
                        &:hover {
                            height: 17.5vw;
                            border: 1px solid $color-blue;
                            background-color: $color-blue;
                        }
                    }
    
                    &:nth-child(11) { 
                        height: 11.5vw; 
                        &:hover {
                            height: 17.5vw;
                            border: 1px solid $color-green;
                            background-color: $color-green;
                        } 
                    }
    
                    &:nth-child(12) { 
                        height: 13vw; 
                        &:hover {
                            height: 17.5vw;
                            border: 1px solid $color-pink;
                            background-color: $color-pink;
                        }
                    }
    
                    &:nth-child(13) { 
                        height: 16.5vw; 
                        &:hover {
                            height: 17.5vw;
                            border: 1px solid $color-yellow;
                            background-color: $color-yellow;
                        }
                    }
    
                    &:nth-child(14) { 
                        height: 15.1vw; 
                        &:hover {
                            height: 17.5vw;
                            border: 1px solid $color-blue;
                            background-color: $color-blue;
                        }
                    }
    
                    &:nth-child(15) { 
                        height: 13vw; 
                        &:hover {
                            height: 17.5vw;
                            border: 1px solid $color-green;
                            background-color: $color-green;
                        } 
                    }
    
                    &:nth-child(16) { 
                        height: 15.1vw; 
                        &:hover {
                            height: 17.5vw;
                            border: 1px solid $color-pink;
                            background-color: $color-pink;
                        }
                    }
    
                    &:nth-child(17) { 
                        height: 14.5vw; 
                        &:hover {
                            height: 17.5vw;
                            border: 1px solid $color-yellow;
                            background-color: $color-yellow;
                        }
                    }
    
                    &:nth-child(18) { 
                        height: 11.5vw; 
                        &:hover {
                            height: 17.5vw;
                            border: 1px solid $color-blue;
                            background-color: $color-blue;
                        }
                    }
    
                    &:nth-child(19) { 
                        height: 13vw; 
                        &:hover {
                            height: 17.5vw;
                            border: 1px solid $color-green;
                            background-color: $color-green;
                        }
                    }
    
                    &:nth-child(20) { 
                        height: 16.5vw; 
                        &:hover {
                            height: 17.5vw;
                            border: 1px solid $color-pink;
                            background-color: $color-pink;
                        }
                    }
    
                    &:nth-child(21) { 
                        height: 13vw; 
                        &:hover {
                            height: 17.5vw;
                            border: 1px solid $color-yellow;
                            background-color: $color-yellow;
                        }
                    }
    
                    &:nth-child(22) { 
                        height: 15.1vw; 
                        &:hover {
                            height: 17.5vw;
                            border: 1px solid $color-blue;
                            background-color: $color-blue;
                        }
                    }
    
                    &:nth-child(23) { 
                        height: 11.5vw; 
                        &:hover {
                            height: 17.5vw;
                            border: 1px solid $color-green;
                            background-color: $color-green;
                        }
                    }
    
                    &:nth-child(24) { 
                        height: 16.5vw; 
                        &:hover {
                            height: 17.5vw;
                            border: 1px solid $color-pink;
                            background-color: $color-pink;
                        }
                    }
                }
            }
    
            div.piano-black {
                display: flex;
                transition: all 0.2s ease-in;
    
                div {
                    position: absolute;
                    width: 2%;
                    height: 6.2vw;
                    // background: $bg-color;
                    background: $font-color;
                    border-radius: 7px 7px 0 0;
                    transition: all 0.3s ease-in;
                    box-shadow: -2px -2px 10px rgba(0,0,0,0.45), 2px 2px 9px rgba(255,255,255,0.3);
    
                    &:hover {
                        box-shadow: inset -2px -2px 10px rgba(0,0,0,0.45), inset 2px 2px 9px rgba(255,255,255,0.3);
                    }
    
                    &:nth-child(1) {
                        bottom: 0;
                        left: 3.2%;
                    }
    
                    &:nth-child(2) {
                        bottom: 0;
                        left: 7.4%;
                    }
    
                    &:nth-child(3) {
                        bottom: 0;
                        left: 15.7%;
                    }
    
                    &:nth-child(4) {
                        bottom: 0;
                        left: 19.8%;
                    }
    
                    &:nth-child(5) {
                        bottom: 0;
                        left: 24%;
                    }
    
                    &:nth-child(6) {
                        bottom: 0;
                        left: 32.4%;
                    }
    
                    &:nth-child(7) {
                        bottom: 0;
                        left: 36.5%;
                    }
    
                    &:nth-child(8) {
                        bottom: 0;
                        left: 44.8%;
                    }
    
                    &:nth-child(9) {
                        bottom: 0;
                        left: 49%;
                    }
    
                    &:nth-child(10) {
                        bottom: 0;
                        left: 53.2%;
                    }
    
                    &:nth-child(11) {
                        bottom: 0;
                        left: 61.5%;
                    }
    
                    &:nth-child(12) {
                        bottom: 0;
                        left: 65.7%;
                    }
    
                    &:nth-child(13) {
                        bottom: 0;
                        left: 74%;
                    }
    
                    &:nth-child(14) {
                        bottom: 0;
                        left: 78.2%;
                    }
    
                    &:nth-child(15) {
                        bottom: 0;
                        left: 82.4%;
                    }
    
                    &:nth-child(16) {
                        bottom: 0;
                        left: 90.7%;
                    }
    
                    &:nth-child(17) {
                        bottom: 0;
                        left: 94.9%;
                    }
                }
            }
        }
    }

    section.about {
        position: relative;
        margin-top: 4.5rem;
        padding: 6rem 4% 0 4%;

        // @include responsive(pc-size) {
        //     width: 100%;
        //     max-width: 1320px;
        //     margin: auto;
        //     margin-top: 200px;
        //     padding: 80px 70px 0 70px;
        // }

        div.about-title {
            display: flex;
            align-items: center;

            h2 {
                color: $font-color;
                font-size: 2.8rem;
                font-family: $point-font;
                margin-right: 1.5rem;

                // @include responsive(tablet-size) {
                //     font-size: 8vw;
                //     margin-right: 5%;
                // }

                // @include responsive(pc-size) {
                //     font-size: 80px;
                //     margin-right: 45px;
                // }
            }

            div {
                display: inline-block;
                width: 2.5rem;
                margin-top: 1rem;

                // @include responsive(tablet-size) {
                //     width: 7%;
                // }

                // @include responsive(pc-size) {
                //     padding-top: 2%;
                //     width: auto;
                // }

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        section.about-top {
            // @include responsive(pc-size) {
            //     display: flex;
            //     align-items: center;
            //     justify-content: space-between;
            //     margin-top: 100px;
            // }

            div.about-img {
                margin: 5rem 0;
                position: relative;
                
                // @include responsive(tablet-size) {
                //     margin: 10% 0;
                // }

                // @include responsive(pc-size) {
                //     order: 2;
                //     margin: 0;
                //     width: 26%;
                // }

                div {
                    &:first-child img {
                        width: 18rem;
                        margin: auto;

                        // @include responsive(tablet-size) {
                        //     width: auto;
                        // }

                        // @include responsive(pc-size) {
                        //     width: 100%;
                        // }
                    }

                    &:last-child {
                        width: 100%;
                        position: absolute;
                        top: -2rem;
                        // background-color: pink;

                        img {
                            width: 22rem;
                            margin: auto;
                            animation: rotate 9s linear infinite;
                        }
                    }

                    @keyframes rotate{
                        100% {
                            transform: rotate(360deg);
                        }
                    }
                }
            }

            div.about-des {
                // @include responsive(pc-size) {
                //     width: 70%;
                // }

                h3 {
                    margin: 2.5rem 0;
                    text-align: center;
                    font-size: 1.6rem;
                    color: $point-color;

                    // @media screen and (min-width: 425px) {
                    //     font-size: 30px;
                    // }

                    // @include responsive(tablet-size) {
                    //     font-size: 45px;
                    // }

                    // @include responsive(pc-size) {
                    //     text-align: left;
                    //     font-size: 37px;
                    // }

                    // span {
                    //     @include responsive(pc-size) {
                    //         display: inline-block;
                    //     }
                    // }
                }

                p {
                    width: 90%;
                    margin: auto;
                    font-size: 1.2rem;
                    text-align: justify;
                    line-height: 1.7;

                    // @media screen and (min-width: 425px) {
                    //     font-size: 20px;
                    // }

                    // @include responsive(tablet-size) {
                    //     font-size: 26px;
                    //     margin-top: 50px;
                    // }

                    // @include responsive(pc-size) {
                    //     width: 100%;
                    //     text-align: left;
                    //     font-size: 20px;
                    // }
                }
            }
        }
    }

    section.skills {
        width: 100%;
        margin-top: 100px;
        padding: 80px 4% 0 4%;

        @include responsive(pc-size) {
            width: 100%;
            max-width: 1720px;
            margin: auto;
            margin-top: 200px;
            padding: 80px 70px 0 70px;
        }

        div.skills-title {
            display: flex;
            align-items: center;

            @include responsive(pc-size) {
                justify-content: end;
            }

            div {
                padding-top: 3%;
                display: inline-block;
                width: 9%;

                @include responsive(tablet-size) {
                    width: 7%;
                }

                @include responsive(pc-size) {
                    padding-top: 2%;
                    width: auto;
                }

                img {
                    width: 100%;
                }

            }

            h2 {
                color: $font-color;
                font-size: 9vw;
                font-family: $point-font;
                margin-left: 6%;

                @include responsive(tablet-size) {
                    font-size: 8vw;
                    margin-left: 5%;
                }

                @include responsive(pc-size) {
                    font-size: 80px;
                    margin-left: 45px;
                }
            }
        }

        div.license {
            display: none;
        }

        div.skills-des {
            position: relative;
            width: 100%;
            margin-top: 80px;

            @include responsive(pc-size) {
                width: 750px;
                margin: 20% auto;
            }

            div.skills-img-wrap {
                width: 100%;
                margin: auto;
                padding: 0 5%;

                @include responsive(pc-size) {
                    padding: 0;
                }

                img {
                    width: 100%;
                    margin: auto;

                    &:first-child {
                        display: none;

                        @include responsive(pc-size) {
                            display: block;
                            width: 750px;
                            margin: auto;
                            height: auto;
                        }
                    }

                    &:nth-child(2) {
                        @include responsive(pc-size) {
                            display: none;
                        }
                    }
                }
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 15%;
                padding: 0 4%;

                @include responsive(pc-size) {
                    margin-top: 0;
                    padding: 0;
                }

                li {
                    position: relative;
                    width: 48%;
                    height: 39vw;
                    border-radius: 50%;
                    margin-bottom: 5%;
                    background-color: $bg-color;

                    @include responsive(pc-size) {
                        position: absolute;
                        width: 14rem;
                        height: 14rem;
                        margin-bottom: 0;
                    }

                    &:nth-child(1) {
                        border: 3px solid #f44336;

                        @include responsive(pc-size) {
                            top: -6rem;
                            left: 7.5rem;
                            border: 5px solid #f44336;
                        }
                    }

                    &:nth-child(2) {
                        border: 3px solid #ff9800;

                        @include responsive(pc-size) {
                            top: -6rem;
                            right: 7.5rem;
                            border: 5px solid #ff9800;
                        }
                    }

                    &:nth-child(3) {
                        border: 3px solid #d5b71d;

                        @include responsive(pc-size) {
                            top: 7.5rem;
                            right: -6rem;

                            border: 5px solid #d5b71d;
                        }
                    }
                    &:nth-child(4) {
                        border: 3px solid #abba19;

                        @include responsive(pc-size) {
                            bottom: 7.5rem;
                            right: -6rem;
                            
                            border: 5px solid #abba19;
                        }

                        div {
                            p {
                                font-size: 5.5vw;

                                @include responsive(pc-size) {
                                    font-size: 32px;
                                }
                            }
                        }
                    }
                    &:nth-child(5) {
                        border: 3px solid #0c9688;

                        @include responsive(pc-size) {
                            bottom: -6rem;
                            left: 7.5rem;
                            border: 5px solid #0c9688;
                        }
                    }
                    &:nth-child(6) {
                        border: 3px solid #2196f3;

                        @include responsive(pc-size) {
                            bottom: -6rem;
                            right: 7.5rem;
                            border: 5px solid #2196f3;
                        }
                    }
                    &:nth-child(7) {
                        border: 3px solid #3f51b5;

                        @include responsive(pc-size) {
                            top: 7.5rem;
                            left: -6rem;
                            border: 5px solid #3f51b5;
                        }
                    }
                    &:nth-child(8) {
                        border: 3px solid #673ab7;

                        @include responsive(pc-size) {
                            bottom: 7.5rem;
                            left: -6rem;
                            border: 5px solid #673ab7;
                        }
                    }

                    .s-text-wrap {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        text-align: center;
                        font-family: $point-font;
                        transform: translate(-50%, -50%);

                        p {
                            font-size: 7vw;
                            margin-bottom: 5%;

                            @include responsive(pc-size) {
                                font-size: 40px;
                                margin-bottom: 5px;
                            }
                        }

                        span {
                            font-size: 5vw;

                            @include responsive(pc-size) {
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
    }

    div.line2 {
        display: none;

        @include responsive(pc-size) {
            display: block;
            background-color: $font-color;
            width: 2px;
            height: 300px;
            margin: 200px auto;
        }
    }

    section.portfolio {
        width: 100%;
        margin-top: 100px;
        // padding: 80px 4% 0 4%;
        // 임시
        padding: 80px 4% 80px 4%;

        @include responsive(pc-size) {
            width: 100%;
            max-width: 1720px;
            margin: auto;
            margin-top: 200px;
            padding: 80px 70px 0 70px;
        }

        .portfolio-title {
            display: flex;
            align-items: center;
            justify-content: center;

            div {
                padding-top: 3%;
                display: inline-block;
                width: 5%;

                @include responsive(tablet-size) {
                    width: 4%;
                }

                @include responsive(pc-size) {
                    padding-top: 2%;
                    width: auto;
                }

                img {
                    width: 100%;
                }
            }

            h2 {
                color: $font-color;
                font-size: 9vw;
                font-family: $point-font;
                margin-left: 7%;
                margin-right: 7%;

                @include responsive(tablet-size) {
                    font-size: 8vw;
                    margin-left: 6%;
                    margin-right: 6%;
                }

                @include responsive(pc-size) {
                    font-size: 80px;
                    margin-left: 50px;
                    margin-right: 50px;
                }
            }

            h2 + div {
                padding-top: 3%;
                display: inline-block;
                width: 4.5%;

                @include responsive(tablet-size) {
                    width: 3.5%;
                }

                @include responsive(pc-size) {
                    padding-top: 2%;
                    width: auto;
                }

                img {
                    width: 100%;
                }
            }
        }

        .pf-wrap {
            margin: 30% 0;

            .pf {
                margin-bottom: 40%;
                width: 100%;
                // background-color: pink;
    
                .portfolio-mokup {
                    width: 100%;
    
                    img {
                        width: 100%;
                    }
                }

                .pf-txt {
                    position: relative;
                    text-align: center;
                    // background-color: pink;
                    margin-top: 15%;

                    span.pf-num {
                        position: absolute;
                        font-size: 4vw;
                    }

                    .pf-num1 {
                        left: 28%;
                        top: -10%;
                    }

                    .pf-num2 {
                        left: 20%;
                        top: -10%;
                    }

                    .pf-num3 {
                        left: 21%;
                        top: -10%;
                    }

                    h2 {
                        font-size: 9vw;
                    }

                    p {
                        margin-top: 5%;

                        span {
                            font-size: 4.5vw;

                            &:last-child {
                                margin-top: 2%;
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: 100%;
    background: url('../images/con-bg-m.png') no-repeat;
    background-size: cover;

    section.contact {
        width: 100%;
        margin-top: 100px;
        padding: 23% 4% 0 4%;
        position: relative;

        @include responsive(tablet-size) {
            padding: 20% 4% 0 4%;
        }

        @include responsive(pc-size) {
            width: 100%;
            max-width: 1720px;
            margin: auto;
            margin-top: 200px;
            padding: 15% 70px 0 70px;
        }

        .con-title {
            h2 {
                color: #fff;
                font-size: 9vw;
                font-family: $point-font;

                @include responsive(tablet-size) {
                    font-size: 8vw;
                }

                @include responsive(pc-size) {
                    font-size: 80px;
                }
            }
        }

        .con-form {
            form {
                width: 100%;

                fieldset {
                    width: 100%;
                    height: 75vw;
                    border: 2px solid #fff;
                    border-radius: 20px;
                    padding: 7% 5%;
                    margin: 10% 0 5% 0;

                    @include responsive(pc-size) {
                        width: 100%;
                        height: 50vw;
                        margin: 5% 0 5% 0;
                        padding: 5%;
                    }

                    input {
                        border: none;
                        border-bottom: 2px solid #fff;
                        background-color: transparent;
                        width: 100%;
                        margin-bottom: 6%;

                        @include responsive(pc-size) {
                            margin-bottom: 5%;
                        }

                    }
                    textarea {
                        width: 100%;
                        height: 27vw;
                        border: 2px solid #fff;
                        border-radius: 10px;
                        background-color: transparent;
                        margin-top: 5%;

                        @include responsive(pc-size) {
                            margin-top: 2%;
                        }
                    }
                }

                .i-wrap {
                    display: flex;
                    justify-content: end;

                    input#sub {
                        width: 40%;
                        font-size: 5vw;
                        font-family: $point-font;
                        color: #fff;
                        border: 1px solid #333;
                        border-radius: 15px;
                        padding-bottom: 1%;
                        background-color: #333;

                        @include responsive(pc-size) {
                            width: 30%;
                            font-size: 4vw;
                        }
                    }
                }
            }
        }
    }

    .footer-bottom {
        width: 100%;
        padding: 3% 0;
        border-top: 2px solid #fff;
        margin-top: 8%;

        @include responsive(pc-size) {
            margin-top: 5%;
            padding: 20px 0;
        }

        p {
            text-align: center;
            color: #fff;
            font-size: 3.5vw;

            @include responsive(pc-size) {
                font-size: 25px;
            }
        }
    }
}