@import "style.scss";
@import "common.scss";
@import "mixin.scss";

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid $font-color;
    background-color: $bg-color;

    div.h-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 76px;
        padding: 0 20px;

        h1 {
            a {
                &:first-child {
                    display: none;
                }

                img {

                }
            }
        }

        ul.gnb {
            li {
                display: none;

                &:first-child {
                    display: block;
                }
                a {
                    img {

                    }
                }
            }
        }

    }
}

main {
    width: 100%;

    section.main-section {
        display: flex;
        position: relative;
        align-items: center;
        width: 100%;
        height: 100vh;
        padding: 80px 20px 0 20px; // body에 태그 걸어주면 vh가 밀림
        // background-color: aquamarine;

        div.main-txt {
            // margin-top: 100px;
            height: 70%;
            margin: auto;
            // backgrounds-color: pink;

            .wel {
                font-weight: 600;
                font-size: 6.25vw;
                // font-size: 20px;
                color: #777;
            }

            h2 {
                font-weight: 600;
                font-size: 11.875vw;
                // font-size: 38px;
                margin: 10px 0;
                letter-spacing: 0.2vw;
            }

            .front {
                font-weight: 500;
                font-size: 5.625vw;
                // font-size: 18px;
                color: $point-color;
            }
        }

        div.main-img {
            background-color: aqua;

            div {
                display: none;
                position: absolute;

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    display: block;
                }
                
                &:nth-child(1) {
                    bottom: 15%;
                    left: 30%;
                }

                &:nth-child(2) {
                    bottom: 7%;
                    left: 57%;
                }

                &:nth-child(3) {
                    bottom: 10%;
                    right: 5%;
                }

                &:nth-child(4) {
                    left: 5%;
                    bottom: 10%;
                }
            }
        }
    }

    section.about {
        margin-top: 100px;
        padding: 0 20px;

        div.about-title {
            display: flex;
            align-items: center;

            h2 {
                color: $font-color;
                font-size: 35px;
                font-family: $point-font;
                margin-right: 5%;
            }

            div {
                padding-top: 3%;
                display: inline-block;

                img {
                    width: 30px;
                }
            }
        }

        div.line {
            display: none;
        }

        section.about-top {
            div.about-img {
                margin: 90px 0;

                div {
                    width: 90%;
                    margin: auto;

                    img {
                        width: 100%;
                    }
                }
            }

            div.about-des {

                h3 {
                    font-family: $point-font;
                    font-size: 21px;
                    color: $point-color;
                    text-transform: uppercase;

                    span {
                        &:last-child {
                            text-indent: 10px;
                        }
                    }
                }

                p {
                    width: 95%;
                    margin: auto;
                    margin-top: 40px;
                    font-size: 16px;
                    text-align: justify;
                }
            }
        }

        section.about-btm {
            margin-top: 60px;

            div.img-wrap {
                div {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    section.skills {
        margin-top: 100px;
        padding: 0 20px;

        div.skills-title {
            display: flex;
            align-items: center;

            div {
                padding-top: 3%;
                display: inline-block;
                margin-right: 5%;

                img {
                    width: 30px;
                }
            }

            h2 {
                color: $font-color;
                font-size: 35px;
                font-family: $point-font;
            }
        }

        div.license {
            display: none;
        }

        div.skills-des {
            margin-top: 80px;

            div.skills-img-wrap {
                position: relative;
                width: 100%;

                img {
                    width: 100%;
                }

                h2 {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 40px;
                    color: $font-color;
                    font-weight: 900;
                }
            }

            ul {
                display: flex;
                flex-wrap: nowrap;

                li {
                    position: relative;
                    width: 130px;
                    height: 130px;
                    border-radius: 50%;
                    border: 3px solid white;
                    text-align: center;

                    .s-text-wrap {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }

        div.line {
            display: none;
        }
    }
}