$bg-color : #333;

$font-color : #fbeeea;
$font-white : #fff;

$color-gray : #777;
$point-color : #e28f83;
$color-yellow : #ffebb4;
$color-blue : #a2c1d9;
$color-green : #b4d2c4;
$color-pink : #ffd0c2;

$main-font : 'Noto Sans KR', sans-serif;
$point-font : 'HSYuJi';

$width-wide: 100%;
$width-half: 50%;

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px;