$bg-color : #333;

$font-color : #fbeeea;
$font-white : #fff;

$color-gray : #777;
$point-color : #e28f83;

$main-font : 'Noto Sans KR', sans-serif;
$point-font : 'HSYuJi';

$width-wide: 100%;
$width-half: 50%;

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px;